
html{
	scroll-behavior: smooth;
	max-height: 100vh;
}

:target {
	scroll-margin-top: 300px; 
  }
  

#description {
	font-size: 0.7rem;
	display: flex;
	flex-direction: column;
}

#description p:nth-child(2){
	text-align: center;
}

#description p:nth-child(3){
	text-align: center;
	/* margin-top: -3rem; */
}

#about-me-content{
	width: 73vw;
	/* border: 1.5px solid black;  */
	height: 550px;
	border-radius: 50px;
	margin: 1.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}	

.gallery{
	border: 1.5px solid black; 
	height: 550px;
	border-radius: 40px;
	width: 450px;
}

.top {
	height: 13%;
	display: flex;
	justify-content: space-between;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	border-bottom: 1.5px solid #000; 
	/* margin-bottom: 1.5rem; */
}

.arrows {
	display: flex;
}

h2{
	font-family: var(--title-font);
}

.arrows h2 {
    border: 1.5px solid #000;
    border-radius: 50%;
    width: 35px;
    height: 35px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    cursor: pointer;
    margin-left: 1rem;
}

.arrows h2:hover{
	background-color: black;
	color: var(--color-lightgreen);
}



ul .link{
	color: black;
	background: var(--color-lightgreen);
} 

#about-button{
	background: black;
}

#about-button a{
	color: var(--color-lightgreen);
}


.dropdown-menu li:hover {
	color: var(--color-lightgreen);
}

.dropdown-menu li a:hover {
	color: var(--color-lightgreen);
}


/* #website-links li:nth-of-type(2) a {
	color: var(--color-lightgreen);
} 

#website-links li:nth-of-type(2) {
	background: black;
} */



#changingphrase {
	transition: opacity 0.5s ease-in-out;
	font-optical-sizing: auto;
	font-weight: 700;
	stroke: 1px;
}
  .fade-out {
	opacity: 0;
  }


  .scroll-container {
	width: 100%;
	overflow-x: hidden;
	white-space: nowrap;
	scroll-behavior: smooth;
  }
  
  .scroll-grid-gallery {
	display: flex;
	animation: scroll 50s linear infinite;
	width: max-content;
	overflow: hidden; 
	align-items: center;
  }

  .scroll-grid-gallery img {
	width: 300px; 
	height: 400px; 
	object-fit: cover; 
	display: block;
	border-radius: 50px;
	margin: 1rem;
	border:	1.5px solid #000; 

  }

  picture{
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	margin-top: 1rem;
  }

  .about-me-text{
	margin-left: 2rem;
	height: 550px;
	overflow-y: scroll;
  }

  .about-me-text h1{
	font-family: var(--title-font);
	font-size: 3rem;
	margin-top: -0.5rem;
  }

  .about-me-text p{
	font-size: 0.9rem;
  }

  .bio {
	margin-bottom: 2rem;
	margin-top: -1rem;
  }

  .sparkle{
	margin-bottom: 2rem;
	text-align: center;
  }

  .list{
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-top: -1rem;
  }

  .list p{
	margin-top: -1rem;
  }

  .list li{
	line-height: 1.5;
	margin-top: -1rem;
  }

  .article-link{
	margin-bottom: 1.2rem;
  }

  .article-link a:hover{
	  font-style: italic;
	  text-decoration: underline;
	  color: black;
  }
/* 
  .menu-item {
		border: 1.5px solid black; 
		border-radius: 50px;
		height: auto;
		text-align: center;
		padding: 0.5rem;
		font-size: 0.8rem;
		margin-left: 1rem;
		margin-bottom: 1rem;
  }

  .menu-item:hover{
	cursor: pointer;
	color: var(--color-lightgreen);
	background: black;
  }

  .menu-item a:hover{
	color: var(--color-lightgreen);
  }

  :target {
	scroll-margin-top: 100px; 
  }
   */

.bio, .list{
	margin-top: -2rem;
   }
