@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Xanh+Mono:ital@0;1&display=swap');

:root {

	/* Colors */
	--color-background: #F6F0E5; 
	/* --color-background:  #CFFFF6; */ 
	--color-green:  #047C6E;
	--color-purple: #6495ED;
	--color-lightgreen: #F0FFF0;

	/* Fonts */
	/* --body-font: "Quicksand", sans-serif; */
	--body-font: "Roboto Mono", monospace;
	--body-font-weight: 500;
	--body-font-style: normal;
	--title-font:  "Xanh Mono", monospace;
	--title-font-weight: 500;
	--title-font-style: normal;

  	/* Other */
  /* --border-style: 2px dashed black;
  --transition: 0.3s ease-in-out;   */
}

.xanh-mono-regular {
	font-family: "Xanh Mono", monospace;
	font-weight: 400;
	font-style: normal;
  }
  
  .xanh-mono-regular-italic {
	font-family: "Xanh Mono", monospace;
	font-weight: 400;
	font-style: italic;
  }
  


body {
	background-color: var(--color-lightgreen);
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
	font-size: 1rem;
	font-family: var(--body-font);
	font-optical-sizing: auto;
	font-style: normal;
}

::selection {
	background: black;
	color: var(--color-lightgreen);
  }

  a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
}

a {
	text-decoration: none;
	color: black;
}

.contact{
	color: black;
	text-decoration: none;
}

.contact a:hover{
	font-style: italic;
	text-decoration: underline;
	color: black;
}

/* .link:hover{
	color: var(--color-lightgreen);
} */

	nav {
		padding-top: 1rem;
		height: 5vh;
		margin-left: 1rem;
		/* margin-top: 0.5rem; */
		font-size: 0.8rem;
		max-width: 100%;
		display: flex;
		justify-content: space-between;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		text-align: center;
	} 

	ul .link {
		display: flex;
		margin-right: 1rem;
		border:	1.5px solid #000;
		text-align: center;
		line-height: 5vh;
		border-radius: 50px;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	ul .link:hover{
		background-color: black;
		color: var(--color-lightgreen);
		cursor: pointer;
	}

	ul a:hover{
		color: var(--color-lightgreen);
	}

	ul .contact{
		margin-right: 1rem;
	}

main {
	height: 85vh;
	display: flex;
	align-items: center;
}

footer{
	height: 10vh;
	margin-left: 1rem;
	font-size: 0.6rem;
}


/* SVG */


.cls-1 {
	stroke-width: 2px;
}

.cls-1, .cls-2, .cls-3 {
	fill: var(--color-lightgreen);
	stroke: #000;
}

.cls-1, .cls-3 {
	stroke-miterlimit: 10;
}

.cls-2 {
	stroke-width: 5px;
}

.cls-3 {
	stroke-width: 6px;
}

.cls-4 {
	stroke-width: 0px;
}

.cls-4:hover, .cls-2:hover {
	transform-origin: center;
  }


/* ME */
#rice {
	display: flex;
	margin: 1rem;
	width: 20vw;
	flex-direction: column;
	align-items: center;  
	justify-content: center;
}

#icon{	
	cursor: pointer;
}

#description {
	font-size: 0.7rem;
	display: flex;
	flex-direction: column;
}

#description p:nth-child(2){
	padding-top: 3rem;
	text-align: center;
}

#description p:nth-child(3){
	text-align: center;
	margin-top: -3rem;
}

#toggleDoodles, #reset{
	cursor: alias;
}

#toggleDoodles:hover, #reset:hover{
	font-style: italic;
	text-decoration: underline;
}


#changing-text {
	transition: opacity 0.5s ease-in-out;
	font-optical-sizing: auto;
	font-weight: 700;
	stroke: 1px;
}
  .fade-out {
	opacity: 0;
  }


/* random icons */
.draggable {
    width: 120px; 
    height: auto;
    cursor: grab;
	z-index: 1000;
	-webkit-filter: drop-shadow(5px 5px 5px 	#3b3b3b);
	filter: drop-shadow(5px 5px 5px 	#3b3b3b);
  }
