body{
	width: 100%;
	display: flex;
	align-items: center;
	overflow-x: hidden;
	overflow-y: auto;
}

nav {
	position: fixed;
	width: 98%;
	padding-left: 5rem;
	padding-right: 6rem;
}

main{
	margin: 0.5rem;
	display: flex;
	align-items: center;
	max-width: 70vw;
	height: 95vh;
	padding-right: 1rem;
	flex-direction: column;
}

header{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 3rem;
	max-width:70vw;
}

picture{
	max-width:70vw;
	width: 100%;
}

header img{
	border-radius: 50px;
	width: 100%;
	margin-top: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title{
	/* margin-top: 3rem; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/* border: var(--border-style);
	border-radius: 50px; */
}

h1{
	font-family: var(--title-font);
	font-size: 4rem;
	padding-left: 2rem;
}

h4{
	font-weight: 400;
	max-width: 60%;
	margin-left: 2rem;
	font-size: 1.2rem;
	padding-right: 1rem;

}

.project-details{
	margin-top: 2rem;
	width: 100%;
	/* border: var(--border-style);
	border-radius: 50px; */
}

.project-info{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 1rem;
}

h2 {
	font-family: var(--title-font);
	font-size: 2rem;

}

.project-info p{
	line-height: 0.5;
}

.project-info li{
	line-height: 0.8;
}

.app-preview {
    display: flex;
    flex-direction: column;
	width: 70vw;
	justify-content: space-between; 
	/* border: var(--border-style);
    border-radius: 50px; */
	margin-top: 5rem;
	border: var(--border-style);
    border-radius: 50px; 
	/* align-items: center; */
	justify-items: center;
	margin-bottom: 5rem;
}

.section-title{
	border-bottom: var(--border-style);
	text-align: center;

}

.section-title h3{
	font-family: var(--title-font);
	/* margin-left: 3rem; */
	font-size: 1.5rem;
}

.table{
	display: flex;
    flex-direction: row;
	width: 100%;
	align-items: center;
	justify-content: space-evenly; 
}

.app-gif {
	flex: 0 0 auto; 
    /* text-align: center; */
    height: 520px;
    width: 230px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: space-evenly; 
	padding-bottom: 2rem;

}

.app-gif h2{
	font-size: 1.5rem;
}

.app-gif img {
    /* max-width: 100%; */
	max-width: 100%; 
    max-height: 100%; 
    object-fit: cover;
	justify-items: center;

}

.app-gif picture{
	width: 90%;
}

.caption{
	width: 70vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
}

.caption img{
	max-width: 100%;
	margin-top: 3rem;
}

.caption p{
	font-size: 1.2rem;
	text-align: center;
}

.insights {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center; 
	gap: 20px; 
	width: 70vw; 
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.text-block{
	border: var(--border-style);
	border-radius: 40px;
	width: 300px;
}

.text-block h2{
	text-align: center;
	border-bottom: var(--border-style);
	margin-top: -0.05rem;
	padding: 0.5rem;
}

.insights h3{
	display: flex;
	width: auto;
	font-family: var(--title-font);
	height: 50%;
	padding: 1rem;
	font-size: 1.5rem;
	align-items: center;
	justify-items: center;
	text-align: center;
}


.condensed{
	width: 70vw;
	/* height: 500px; */
}

.condensed .text-block{
	width: 100%;
}

.caption h2{
	text-align: center;
	margin-top: 5rem;
	margin-bottom: 5rem;
}


