
html{
	scroll-behavior: smooth;
}

body{
	width: 100%;
	display: flex;
	align-items: center;
	overflow-x: hidden;
	overflow-y: auto;
}

nav {
	position: fixed;
	width: 98%;
	padding-left: 5rem;
	padding-right: 6rem;
}

.dropdown-menu {
	top: 45px;
}


#top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: var(--color-lightgreen);
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 0.8rem;
    border: 1.5px solid #000;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
	z-index: 1000;
}

#top:hover{
	cursor: pointer;
	background: black;
}

#top a:hover{
	color: var(--color-lightgreen);
}

body.scrolled #top {
    opacity: 1;
    pointer-events: auto;
}

body.scrolled .casestudy-menu {
    opacity: 1;
    pointer-events: auto;
}

header{
	display: flex;
	align-items: center;
	flex-direction: column;
	/* margin-top: 3rem; */
	max-width:100vw;
	margin-left: -1rem;
}

picture{
	width: 100%;
	/* margin-left: -1rem; */
	margin-top: -1rem;
}

header img{
	/* border-radius: 50px; */
	width: 101%;
	margin-top: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	/* height: 100vh; */
}

main{
	height: auto;
	flex-direction:column;
}



.project-details{
	margin-top: 3rem;
	width: 70vw;
	/* border: var(--border-style);
	border-radius: 50px; */
	/* margin-top: -1rem; */
}

.project-info{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 1rem;
}

h2 {
	font-family: var(--title-font);
	font-size: 2rem;

}

.project-info p{
	line-height: 0.5;
}

.project-info li{
	line-height: 0.8;
}

.table{
	display: flex;
    flex-direction: row;
	width: 100%;
	align-items: center;
	justify-content: space-evenly; 
}

.side-caption {
	max-width: 70%;
	/* margin: 1rem; */
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    gap: 5rem; 
    /* width: 100%; */
	margin-top: 5rem;
	/* margin-bottom: 3rem; */
}

.side-caption .project-item {
    width: 100%; 
    display: flex;
    justify-content: center;
}

.project-item {
    width: auto; /* Allow it to size naturally */
    display: flex;
    justify-content: center;
}

.project-item img {
    /* width: 100%;  */
    max-width: 500px; /* Increase to a comfortable size */
    height: auto; /* Maintain aspect ratio */
    border-radius: 20px;
}

.description{
	width: 100%;
}


.side-caption p {
    /* max-width: 40%;  */
    font-size: 1rem; /* Adjust font size if needed */
    line-height: 1.5; /* Improve readability */
}

#vertical-pic{
	margin-top: -3rem;
}

#smaller{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70%;
}

#smaller img{
	height: 90%;
	align-items: center;
}




.pdf {
	display: flex;
	margin-right: 1rem;
	border:	1.5px solid #000;
	text-align: center;
	align-items: center;
	/* line-height: 5vh; */
	border-radius: 50px;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	background-color: var(--color-lightgreen);
	font-size: 1.5rem;
	padding: 1rem;
}

.pdf:hover{
	background-color: black;
	color: var(--color-lightgreen);
	cursor: pointer;
}

.pdf:hover a{
	color: var(--color-lightgreen);
	cursor: pointer;
}

.title{
	/* margin-top: 3rem; */
	display: flex;
	flex-direction: row;
	/* justify-content: space-between; */
	align-items: center;
	/* border: var(--border-style);
	border-radius: 50px; */
	/* width: 90vw; */
	width: 90vw;
}

h1{
	font-family: var(--title-font);
	font-size: 3rem;
	/* padding-left: 2rem; */
	/* background: black; */
	width: 70%;
	padding: 2rem;
	/* color: var(--color-lightgreen); */
	/* text-align: center; */
}


h4{
	font-weight: 400;
	width: 70%;
	margin-left: 2rem;
	font-size: 1rem;
	padding-right: 1rem;

}




.pic img{
	border-radius: 20px;
	width: 100%;
}

.features{
margin-bottom: 7rem;
display: flex;
flex-direction: column;
align-items: center;
}


.app-preview {
    display: flex;
    flex-direction: column;
	width: 70vw;
	justify-content: space-between; 
	/* border: var(--border-style);
    border-radius: 50px; */
	margin-top: 5rem;
	border: var(--border-style);
    border-radius: 50px; 
	/* align-items: center; */
	justify-items: center;
	/* margin-bottom: 5rem; */
}


.section-title{
	border-bottom: var(--border-style);
	text-align: center;

}

.section-title h3{
	font-family: var(--title-font);
	/* margin-left: 3rem; */
	font-size: 1.5rem;
}

.table{
	display: flex;
    flex-direction: row;
	width: 80%;
	align-items: center;
	justify-content: space-evenly; 
	margin-top: 3rem;
	gap: 2rem;
}

.app-gif {
	flex: 0 0 auto; 
    /* text-align: center; */
    height: 520px;
    width: 230px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: space-evenly; 
	padding-bottom: 2rem;

}

.app-gif h2{
	font-size: 1.5rem;
}

.app-gif img {
    /* max-width: 100%; */
	max-width: 100%; 
    max-height: 100%; 
    object-fit: cover;
	justify-items: center;

}

.app-gif picture{
	width: 90%;
}

.caption{
	width: 70vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
}

.caption img{
	max-width: 100%;
	margin-top: 3rem;
}

.caption p{
	font-size: 1rem;
	text-align: center;
}


.gif-marquee {
	display: flex;
	/* overflow: hidden; */
	white-space: nowrap;
	width: 100vw;
	position: relative;
	/* margin-top: 3rem; */
	z-index: -10;
	/* margin-top: 10rem; */
	margin-bottom: 8rem;
	margin-top: -3rem;
  }
  
  .gif-marquee .marquee-content {
	display: flex;
	gap: 1rem; /* Adjust spacing between images */
	animation: marquee 20s linear infinite;
  }
  
  .gif-marquee .marquee-content img {
	/* width: 200px;  */
	height: 350px;
  }
  
  @keyframes marquee {
	from {
	  transform: translateX(0);
	}
	to {
	  transform: translateX(-50%);
	}
  }
  
  /* Duplicate the content to create a seamless infinite effect */
  .gif-marquee .marquee-content {
	display: flex;
	animation: marquee 60s linear infinite;
	width: max-content;
  }


